[submodule "entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt
	branch = v3.11.x
[submodule "CLI11"]
	path = 3rdparty/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "3rdparty/tinygltf"]
	path = 3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf
