[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt
	branch = v3.11.x
[submodule "3rdparty/CLI11"]
	path = 3rdparty/CLI11
	url = https://github.com/CLIUtils/CLI11
